.container {
    width: 85%;
}

ul li {
    width: 150px;
}

ul {
    width: 2000px;
    white-space: nowrap !important;
    overflow-x: scroll !important;
}

ul::-webkit-scrollbar {
    display: none;
}

.nav {
    flex-wrap: nowrap !important;
}

/** iphoneSE **/
@media (max-width: 600px) {
    .container {
        width: 100%;
    }
    .kiji {
        padding: 0;
    }
    .sickness {
        margin-top: 30px !important;
        margin-bottom: 30px;
    }
}

/* .nav::-webkit-scrollbar {
    display: none !important;
} */

/* 病気選択 */
.sickness {
    margin-top: 100px;
    border: 1px solid#fff;
}
.nav-tabs {
    border: none !important;
}
.nav-link {
    background-color: transparent !important;
    border: none !important;
}
.sickness .nav-link.active {
    border-bottom: 1px solid #fff !important;
}

/* 記事一覧 */
.kiji {
    padding: 10px;
}

.kiji img {
    width: 100%;
    height: 100%;
}

/** font **/
body {
    font-family:  "Century Gothic";
}

.card {
    margin: 10px !important;
    border: none !important;
}

.card h5, .card p {
    color: black;
}